* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header,
#footer {
    width: 100%;
}

#main {
    width: calc(100vw - 575px);
}

#main {
    height: 1000px;
}

#sidebar,
#right {
    width: 250px;
    height: 1000px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#footer {
    height: 214px;
}
